NodeRed Flow.json
[{"id":"109621de.7aa30e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb0e380.ec2e0c8","type":"ibmiot","z":"","name":"Weather","keepalive":"60","serverName":"6axwo6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"48b876d8.9a81f8","type":"ibmiot","z":"","name":"Weather ","keepalive":"60","serverName":"6axwo6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ea8e1347.1cb29","type":"ui_group","z":"","name":"smarthome","tab":"22fee35a.c7ce1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"22fee35a.c7ce1c","type":"ui_tab","z":"","name":"smart","icon":"dashboard","disabled":false,"hidden":false},{"id":"9c7e5fa.582fea","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":50,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7970903e.ec3ed","type":"ibmiot","z":"","name":"IOT Sensor ","keepalive":"60","serverName":"xwjvut.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"18d7bae5.2658d5","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"23dac328.58f6ec","type":"ibmiot in","z":"109621de.7aa30e","authentication":"apiKey","apiKey":"7970903e.ec3ed","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Weather","applicationId":"","deviceType":"Watson","eventType":"+","commandType":"iotsensor","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":180,"wires":[["66232225.52c27c","832992bc.ec8c5","24695120.67a94e"]]},{"id":"66232225.52c27c","type":"function","z":"109621de.7aa30e","name":"","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["e78dcb65.eb1fa8"]]},{"id":"832992bc.ec8c5","type":"function","z":"109621de.7aa30e","name":"","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["6e73f09b.9c01f"]]},{"id":"e78dcb65.eb1fa8","type":"ui_gauge","z":"109621de.7aa30e","name":"","group":"ea8e1347.1cb29","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"6e73f09b.9c01f","type":"ui_gauge","z":"109621de.7aa30e","name":"","group":"ea8e1347.1cb29","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":240,"wires":[]},{"id":"e048133e.9526c","type":"ibmiot out","z":"109621de.7aa30e","authentication":"apiKey","apiKey":"7970903e.ec3ed","outputType":"cmd","deviceId":"Motor","deviceType":"Watson","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":380,"wires":[]},{"id":"a858a4e4.eaf598","type":"ui_button","z":"109621de.7aa30e","name":"","group":"ea8e1347.1cb29","order":8,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"c\":\"lighton\"}","payloadType":"json","topic":"","x":160,"y":320,"wires":[["e048133e.9526c"]]},{"id":"c4088c12.8b433","type":"ui_button","z":"109621de.7aa30e","name":"","group":"ea8e1347.1cb29","order":9,"width":0,"height":0,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"c\":\"lightoff\"}","payloadType":"json","topic":"","x":160,"y":440,"wires":[["e048133e.9526c"]]},{"id":"36edb44b.b3f86c","type":"http request","z":"109621de.7aa30e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=86195c8804e0564e4532317763f4a39f","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":640,"wires":[["6ee3c6e5.aa7158","6a7a64e2.290bcc","895a446b.8ff9d8","8955024c.94f12"]]},{"id":"45672128.6070b","type":"inject","z":"109621de.7aa30e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":640,"wires":[["36edb44b.b3f86c"]]},{"id":"6ee3c6e5.aa7158","type":"change","z":"109621de.7aa30e","name":"Min. Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[["fead81ce.dedbf"]]},{"id":"6a7a64e2.290bcc","type":"change","z":"109621de.7aa30e","name":"Max. Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":640,"wires":[["293e15b6.83790a"]]},{"id":"fead81ce.dedbf","type":"ui_text","z":"109621de.7aa30e","group":"ea8e1347.1cb29","order":4,"width":0,"height":0,"name":"Min Temp","label":"Minimum Temperature: ","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":600,"wires":[]},{"id":"293e15b6.83790a","type":"ui_text","z":"109621de.7aa30e","group":"ea8e1347.1cb29","order":5,"width":0,"height":0,"name":"Max. Temp. ","label":"Maximum Temperature: ","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":640,"wires":[]},{"id":"895a446b.8ff9d8","type":"change","z":"109621de.7aa30e","name":"City Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":560,"wires":[["499fe8ba.e2d428"]]},{"id":"499fe8ba.e2d428","type":"ui_text","z":"109621de.7aa30e","group":"ea8e1347.1cb29","order":6,"width":0,"height":0,"name":"City","label":"City: ","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":560,"wires":[]},{"id":"8955024c.94f12","type":"change","z":"109621de.7aa30e","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[["e11327b6.2bce88"]]},{"id":"e11327b6.2bce88","type":"ui_text","z":"109621de.7aa30e","group":"ea8e1347.1cb29","order":7,"width":0,"height":0,"name":"Pressure","label":"Pressure: ","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":680,"wires":[]},{"id":"24695120.67a94e","type":"function","z":"109621de.7aa30e","name":"","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["5b1e55c0.b0527c"]]},{"id":"5b1e55c0.b0527c","type":"ui_gauge","z":"109621de.7aa30e","name":"","group":"ea8e1347.1cb29","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":180,"wires":[]}]